.container--description {
    display: flex;
    gap: 60px;
}

.section-description {
    position: relative;
    margin-bottom: 121px;
    background-color: $contrast-bg;
}

.description__wrapper {
    display: flex;
    gap: 96px;
}

.description__numbers-list {
    flex-basis: 193px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.description__numbers-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 30px;
}

.description__numbers-item:last-child {
    margin-bottom: 0;
}

.description__numbers-num {
    display: block;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: $basic-color;
}
.description__numbers-num-min {
    font-size: 14px;
    line-height: 1;
}
.description__numbers-text {
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.description__numbers-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.description__numbers-item--mobile {
    display: none;
}

.description__text {
    max-width: 319px;
    margin-top: 0;
    margin-bottom: 0;
}

.description__more {
    display: none;
    font-family: 'Baron Neue', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #7A1B1B;
    text-decoration: underline;
    cursor: pointer;
    transition: opacity .3s ease;
}
.description__more:hover {
    opacity: .6;
}

@media (max-width: 1098px) {
    .section-description {
        padding-bottom: 712px;
    }
    .container--description {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    .description__wrapper {
        justify-content: space-between;
        gap: 0;
    }
    .container--description {
        gap: 58px;
    }
    .description__more {
        display: inline-block;
    }
    .description__numbers-list {
        flex-basis: 181px;
    }
    .description__numbers-item--desctop {
        display: none;
    }
    .description__numbers-item--mobile {
        display: block;
    }
}
@media (max-width: 620px) {
    .description__wrapper {
        flex-direction: column;
        row-gap: 30px;
        column-gap: 34px;
    }
    .description__numbers-list {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .description__numbers-item {
        flex-basis: 50%;
    }
}
@media (max-width: 500px) {
    .section-description {
        padding-bottom: 542px;
    }
    .description__numbers-list {
        row-gap: 30px;
        column-gap: 34px;
    }
    .description__numbers-item {
        flex-basis: auto;
    }
    .description__numbers-num {
        font-size: 28px;
        line-height: 24px;
    }
}
@media (max-width: 375px) {
    
}

