.container--description {
    display: flex;
    gap: 60px;
}

.section-description {
    margin-bottom: 121px;
    background-color: $contrast-bg;
}

.description__numbers-list {
    flex-basis: 193px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.description__numbers-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 30px;
}

.description__numbers-item:last-child {
    margin-bottom: 0;
}

.description__numbers-num {
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: $basic-color;
}
.description__numbers-text {
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.description__numbers-text {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #777777;
}

.description__text {
    flex-basis: 319px;
    margin-top: 0;
    margin-bottom: 0;
}



