.container--feature {
    position: relative;
}

.feature__list{
    font-family: 'Baron Neue',sans-serif;
    counter-reset: myCounter;
    padding-top: 53px;
    padding-bottom: 53px;
}

.feature__item{
    position: relative;

    padding-bottom: 40px;
    background-color: #ffffff;
    list-style: none;

    z-index: 10;
}

.feature__item:before {
    counter-increment: myCounter;
    content:counter(myCounter, decimal-leading-zero);

    position: absolute;
    top: -48px;
    left: 0;

    font-size: 100px;
    line-height: 100px;
    color: #7A1B1B;
    opacity: 0.1;

    z-index: -1;
}

.feature__item-title {
    position: relative;

    font-size: 22px;
    line-height: 30px;

    background-color: #ffffff;
    color: #08131F;
    z-index: 10;
}

.feature__item-text {
    margin-bottom: 25px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.feature__item-link {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #7A1B1B;

    transition: opacity .3s ease;
}

.feature__item-link:hover {
    opacity: 0.6;
}

.feature__btns {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48px;
}

.feature__btns-item {
    width: 10px;
    height: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .3s ease;
}
.feature__btns-item:hover {
    opacity: .6;
}

.feature__slider {
    width: calc(100vw - (100vw - 1197px) / 2);
}