.section-feature {
    padding-top: 84px;
}

.container--feature {
    position: relative;
}

.section-title--feature {
    margin-bottom: 4px;
}

.feature__list{
    box-sizing: border-box;
    font-family: 'Baron Neue',sans-serif;
    counter-reset: myCounter;
    padding-top: 53px;
    padding-bottom: 53px;
    padding-left: 0;
}

.feature__item{
    position: relative;

    padding-bottom: 40px;
    background-color: #ffffff;
    list-style: none;

    z-index: 10;
}

.feature__item:before {
    counter-increment: myCounter;
    content:counter(myCounter, decimal-leading-zero);

    position: absolute;
    top: -41px;
    left: -5px;

    font-size: 100px;
    line-height: 100px;
    color: #7A1B1B;
    opacity: 0.1;

    z-index: -1;
}

.feature__item-title {
    margin-bottom: 19px;
    position: relative;
    padding-top: 16px;

    font-size: 22px;
    line-height: 30px;

    background-color: #ffffff;
    color: #08131F;
    z-index: 10;
}

.feature__item-text {
    margin-bottom: 23px;
    max-width: 285px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.feature__item-link {
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #7A1B1B;

    transition: opacity .3s ease;
}

.feature__item-link:hover {
    opacity: 0.6;
}

.feature__btns {
    position: absolute;
    top: 17px;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48px;
}

.feature__btns-item {
    width: 10px;
    height: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .3s ease;
}
.feature__btns-item:hover {
    opacity: .6;
}
.feature__btns-item.feature__btns-item--prev.swiper-button-disabled:hover {
    opacity: 1;
}
.feature__btns-item.feature__btns-item--next.swiper-button-disabled:hover {
    opacity: 1;
}

.feature__slider {
    width: calc(100vw - (100vw - 1197px) / 2);
    box-sizing: border-box;
}
@media (max-width: 1200px) {
    .feature__btns {
        right: 40px;
    }
    .feature__slider {
        width: calc(100vw - 40px);
    }
}
@media (max-width: 768px) {
    .feature__btns {
        top: 127px;
        right: 43px;
        width: 61px;
    }
    .feature__list {
        padding-top: 104px;
    }
}
@media (max-width: 500px) {
    .feature__btns {
        display: none;
    }
    .feature__slider {
        width: calc(100vw - 14px);
    }
}
@media (max-width: 375px) {
    .section-feature {
        padding-top: 43px;
    }
    .feature__item-text {
        color: $basic-color;
    }
    .feature__list {
        padding-top: 51px;
    }
}

@media (max-width: 340px) {
    .feature__slider {
        width: calc(100vw - 8px);
    }
}