@font-face {
    font-family: 'Baron Neue';
    src: local('Baron Neue'),
        url('../fonts/Baron Neue/BaronNeue.woff2') format('woff2'),
        url('../fonts/Baron Neue/BaronNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baron Neue';
    src: local('Baron Neue'),
        url('../fonts/Baron Neue/BaronNeueBold.woff2') format('woff2'),
        url('../fonts/Baron Neue/BaronNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),
        url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),
        url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
        url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

