.hero {
    padding-top: $section-padding;
    padding-bottom: 58px;
}

@media (max-width: 768px) {
    .hero {
        padding-top: 47px;
        padding-bottom: 42px;
    }
}
@media (max-width: 375px) {
    .hero {
        padding-top: 26px;
        padding-bottom: 34px;
    }
}
