.section-map {

}

.map__image-block {
    background-image: url("../images/map/map-big.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.map__buttons-list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.map__buttons-item {
    margin-bottom: 18px;
}

.map__buttons-btn {
    padding: 0 20px;

    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;

    background-color: transparent;
    outline: none;
    border: 1px solid rgba(199, 151, 145, .3);
    border-radius: 20px;
    cursor: pointer;

    transition: border .3s ease;
}

.map__buttons-btn:hover {
    border: 1px solid rgba(199, 151, 145, 1);
}

.map__buttons-quantity {
    margin-left: 2px;
    font-weight: 700;
    font-size: 11px;
    line-height: 26px;
    color: #7A1B1B;
}

.container--map {
    display: flex;
    justify-content: space-between;
}

.map__image-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 930px;
    height: 450px; 
    margin-top: 13px;
}

.map__image-block {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.map-image-item {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 36px;
    height: 36px;

    background-color: #C79791;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 10;
}

.map-image-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);

    display: block;
    width: 46px;
    height: 46px;

    background-color: rgba(122, 27 , 27, .3);
    border-radius: 50%;

    z-index: 5;
}

.map-image-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);

    display: block;
    width: 46px;
    height: 12px;

    background-image: url("../images/map/marker-shadow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    z-index: 2;
}

.map-image-item svg {
    position: relative;
    color: #ffffff;
    z-index: 20;
}

.map-image-item {
    position: absolute;
    z-index: 10;
}
.map-image-item--target {
    width: 41px;
    height: 41px;
    top: 40%;
    left: 43%;
}

.map-image-item--target {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.map-image-item--target::before {
    content: "";
    display: none;
}

.map-image-item--one {
    top: 51%;
    left: 14%;
}
.map-image-item--two {
    top: 34%;
    left: 15%;
}
.map-image-item--three {
    top: 21%;
    left: 21%;
}
.map-image-item--four {
    top: 46%;
    left: 24%;
}
.map-image-item--five {
    top: 59%;
    left: 30%;
}
.map-image-item--six {
    top: 25%;
    left: 39%;
}
.map-image-item--seven {
    top: 34%;
    left: 49%;
}
.map-image-item--eight {
    top: 14%;
    left: 51%;
}
.map-image-item--nine {
    top: 42%;
    left: 55%;
}
.map-image-item--tenth {
    top: 52%;
    left: 58%;
}
.map-image-item--eleven {
    top: 20%;
    left: 58%;
}
.map-image-item--twelve {
    top: 52%;
    left: 58%;
}
.map-image-item--thirteen {
    top: 85%;
    left: 55%;
}
.map-image-item--fourteen {
    top: 62%;
    left: 89%;
}

.map-image-item--fifteen {
    top: 14%;
    left: 72%;
}

.map-image-item--sixteen {
    top: 78%;
    left: 68%;
}

.map-image-item--seventeen {
    top: 38%;
    left: 65%;
}

.map-image-item--eighteen {
    top: 68%;
    left: 78%;
}

@media (max-width: 1200px) {
    .map__image-wrapper {
        width: 80%;
    }
}

@media (max-width: 1098px) {
    .map__image-wrapper {
        width: 76%;
    }
}
@media (max-width: 900px) {
    .container--map {
        flex-direction: column;
    }
    .map__image-wrapper {
        width: 100%;
    }
    .map__buttons-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        margin-bottom: 30px;
    }
    .map__buttons-item {
        margin-bottom: 0;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 500px) {
    .section-map {
        position: relative;
        padding-bottom: 464px;
        overflow: auto;
    }
    .map__image-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        overflow: auto;
        width: 100%;
        height: 450px;
    }
    .map__image-block {
        width: 150%;
        height: 100%;
    }
}
@media (max-width: 375px) {
    .map__buttons-list {
        row-gap: 14px;
    }
    .map__buttons-list {
        margin-bottom: 35px;
    }
}